.modal{
  padding: 0 20px;
  .image-gallery-swipe{
    min-height: 35rem;
  }
  .modal-header{


      h5{
        display: flex;
        @include flex-direction(row);
        @include justify-content(space-between);
        @include align-items(center);
        width: 100%;
        a{
          color: $color-primary;
          font-size: 29px;
          font-weight: 600;
          letter-spacing: 1.3px;
          width: 100%;
          text-align: center;
          padding: 5px;
          text-transform: capitalize;
          text-decoration: none;
          display: block;
        }
        svg{
          color: $color-primary;
          font-size: 3rem;
          font-weight: 600;
          cursor: pointer;
          @include transition();
          &:hover{
            transform: scaleY(-3px);
          }
        }
      }


  }
  .project-description{
    padding: 0 1.5rem;
    label{
      color: #55c57a;
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 500;
      display: block;
    }
    .project-description-fields{
      margin: 1.5rem 0;
      .project-description-field{
        padding: 1.5rem 0;
        border-bottom: 1px solid $color-grey-light-2;
        p,a{
          text-decoration: none;
          display: block;
          color: $black;
          font-size: 1.6rem;
          font-weight: 300;
          &:last-of-type{
            margin-bottom: 0;
          }


        }
      }

    }
    .stack{
      margin-top: 3rem;
      .stack-container{
        width: 100%;
        padding: 1rem;
        border-radius: .3rem;
        background: linear-gradient( to right bottom , rgba($color-grey-light-2,.5),rgba($color-grey-light-1,.5));
        position: relative;
        //overflow: auto;
        flex-flow: row wrap;
        .stack-item{

          background: linear-gradient( to right bottom , $color-primary-dark,$color-primary-light);

          margin-right: 5px;
          display: inline-block;
          border: 1px solid $color-primary ;
          border-radius: 7px;
          margin-bottom: 4px;
          padding: .25rem 1rem;
          cursor: pointer;
          @include box-shadow(0,.2rem,.2rem,rgba(black,.3));

          @include transition();
          //@include box-shadow(0,.7rem,.7rem,rgba($black,.3));
          &:hover{
            transform: translateY(-3px);
            @include box-shadow(0,.3rem,.3rem,rgba(black,.3));
          }
          p{
            color: $white;
            font-size: 14px;
          }

        }
      }
    }
    .highlights{
      padding: 15px 0 ;
      .highlight{
        padding: .5rem 1rem;
        color: $black;
        font-size: 16px;
        font-weight: 300;
        position: relative;
        &:before{
          position: absolute;
          width: .5rem;
          height: .5rem;
          margin-left: 1rem;
          content: '';
          display: inline-block;
          border-radius: .75rem;
          background-color: $color-primary;
          left: -1rem;
          top: 1.7rem;
        }
      }
    }
  }
  .modal-footer-control{
    width: 100%;
    display: flex;
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);
    padding: 0px;
    .green{
      &:first-of-type{
        margin-right: 2rem;
      }
    }
  }
}