#projects{
  background-color: $color-grey-light-2;
    padding-bottom: 66rem;
  .projects-container{
    display: flex;
    background-color: rgba($color-grey-dark,.1);

    padding: 2rem;
    margin-bottom: 5rem;
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);
    overflow: auto;
    border: .1rem solid rgba($color-grey-light-2,.7);
    border-radius: 3px;
    @include box-shadow(3px,3px,3px,rgba($color-black,.3));

    @include transition(all .3s ease);
    span{
      @include transition(all 1s ease);

      height: 100%;
      width: 100%;
      overflow: auto;
      display: flex;
      @include flex-wrap(wrap);
      @include justify-content(flex-start);
      @include align-items(flex-start);
      .project {
        @include box-shadow(0,3px,3px,rgba($color-black,.3));
        max-width: 302px;

        border: 1px solid $color-grey-light-2;
        margin: 2rem;
        transition:  all .3s ease;
        display: flex;
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        border-radius: 3px;
        cursor: pointer;
        //@include box-shadow(.4rem,.4rem, .2rem,rgba($black,.2));


        .image-container{
          height: 30rem;
          width: 30rem;
          overflow: hidden;
          position: relative;
          max-width: 340px;
          background: white;
          display: flex;
          @include flex-direction(column);
          @include justify-content(center);
          @include align-items(center);
          &.green{
            background: $color-linear-green;
          }&.blue{
            background: $color-linear-blue;
          }&.orange{
            background: $color-linear-orange;
          }&.red{
            background: $color-linear-red;
          }
          &.black{
            background: $color-linear-black;
          }
          .icon {
            transition: all 0.5s;
            width: 50%;

          }
        }
        .title-container{
          background: white;
          width: 100%;
          text-align: center;
          padding: 2rem 1rem;
          border-top: 1px solid $color-grey-dark-2;
          .title {
            transition: all 0.5s;
            transition: all 0.5s;
            font-size: 25px;
            color: #020202;
            letter-spacing: -0.9px;
            font-weight: 500;
            text-transform: uppercase;

          }
        }

        &:hover {
          transform: translateY(-10px) ;
          @include box-shadow(0,13px,13px,rgba($color-black,.3));

          .icon {
            transform: scale(1.2);
          }

          cursor: pointer;


        }
      }
    }

  }
}

