.skill-rate {
  margin-bottom: 1.5rem;
  display: flex;
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(center);
  .skill-name {
    border: none;
    margin-right: 1rem;
    text-align: center;
    p {
      color: $color-white;
      font-weight: 100;
      font-size: 2.3rem;
    }
  }

}