#header {
  height: 100vh;
  canvas{
    position: absolute;
    z-index: -1;
    height: 100vh;
  }

  .main{
    display: flex;
    @include align-items(center);
    @include justify-content(center);
    @include flex-dir(column);
    height: 100vh;

    a{
      margin-top: 40px;
    }
  }
}