@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/mixins";
//@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/modal";
@import "abstracts/variables";
@import "abstracts/utilities";
@import "components/progress";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "abstracts/mixins";
@import "components/button";
@import "components/bg-video";
@import "components/project";
@import "components/about-main";
@import "components/card";
@import "components/skill-rate";
@import "components/project-control";
@import "components/modal";
@import "components/contacts";
@import "pages/home";
@import "layout/header";
@import "~react-image-gallery/styles/scss/image-gallery";
.section-header {
  color: white;
  text-align: center;
  font-size: 6rem;
  line-height: 1.45em;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 0.1em;
  width: 100%;
  padding: 4rem 0;
  text-transform: capitalize;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);

  &.green {
    color: $color-primary;
  }
}
.section {
  padding: 50px 0;
}
