#about{
  //background-color: $color-white;
  //.feature{
  //  height: 300px;
  //  border: 1px solid $color-grey-light-1;
  //  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  //  border-radius: 3px;
  //  margin-bottom: 2rem;
  //  text-align: center;
  //  i{
  //    font-size: 6rem;
  //  }
  //}


  position: relative;
  min-height: 1000px;
  background: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.7),
                  rgba($color-primary-dark, 0.7)
  );
  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
    overflow: hidden;

    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  padding-bottom: 7rem;
}

